/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin: 30px auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  border-radius: 15px;
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.mySlides .text {
  /* color: rgb(73, 51, 153); */
  color: white;
  text-shadow: 2px 2px black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.mySlides .text-1 {
  top: 20px;
}

.mySlides .text-2 {
  top: 50px;
  left: 0;
  text-align: start;
}

.mySlides .text-3 {
  top: 50%;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.about-us {
    width: 100%;
    text-align: start;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgb(73, 51, 153);
    color: white;
}

.about-us h1{
  margon-bottom: 20px
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0px;
  text-align: center;
}

.carousel-container {
  max-width: 800px;
  margin: 20px 0px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.product {
  flex: 0 0 auto;
  width: 180px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.product h3 {
  color: #333;
  margin-top: 10px;
}

.product p {
  color: #777;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: rgb(73, 51, 153);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-from-cart {
  background-color: #d9534f;
}

.carousel-btn {
  background-color: rgb(73, 51, 153);
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0px 15px;
  cursor: pointer;
  font-size: 16px;
  height: 35px;
  width: 35px;
}

@media only screen and (max-width: 600px) {
  .slideshow-container {
    margin: 10px;
  }

  .carousel-container {
    max-width: 90%;
    overflow: auto;
  }

  .carousel-btn {
    display: none;
  }

  .product {
    width: 300px;
    margin: 5px;
  }

  .media-player video {
    width: 100% !important;
  }
}

.modal {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.media-player {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.media-player video {
  width: 60%;
  height: auto;
}


